*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
:root{
    --primary-color: red;
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 0 40px;
}
.title {
    text-align: center;
    margin-top: 15px;
}
#status-bar {
    text-align: center;
    margin: 15px 0;
}
.players {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.player {
    border: 2px solid #ffaaaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 4px;
    border-radius: 8px;
    background: #ffe6e6;
    font-size: 10px;
    font-weight: bold;
}
.player img {
    width: 100%;
}
.active-player{
    outline: 3px solid #3ac4ff;
    transition: .2s;
    animation: animate 1s linear infinite;
}
@keyframes animate {
    0% {
        outline: 3px solid #3ac4ff;
    }
    50% {
        outline: 10px solid #3ac4ff;
    }
    100% {
        outline: 3px solid #3ac4ff;
    }
}

.graph {
    border: 3px solid gray;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: monospace;
    color: gray;
    transition: .3s;
}
.graph:active {
    font-size: 100px;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bt-none{border-top: none;}
.br-none{border-right: none;}
.bb-none{border-bottom: none;}
.bl-none{border-left: none;}

.modal {
    background: #00000057;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-box {
    background: white;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: .2s;
}
#won{
    font-size: 50px;
    margin-bottom: 15px;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.reset-btn {
    font-size: 18px;
    padding: 5px 16px;
    cursor: pointer;
}